<!doctype html>
<html lang="en">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <script type="text/javascript" src="scripts/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as controller">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="controller.input">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="controller.narrowIt();">Narrow It Down For Me!</button>
    </div>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>
    <br />
    <br />
    <br />
    <!-- found-items should be implemented as a component -->
    <found-items found="controller.found" on-remove="controller.removeItem(index)"></found-items>
    <div class="error" ng-if="controller.found.length === 0">Nothing found.</div>
  </div>

</body>
</html>
