<div class="container">

	<div id="info" ng-if="myInfoCtrl.user.firstname !== undefined">
	    First Name: {{ myInfoCtrl.user.firstname}} <br>
		Last Name: {{ myInfoCtrl.user.lastname}} <br>
	    Email: {{ myInfoCtrl.user.email}} <br>
	    Phone: {{ myInfoCtrl.user.phone }}
	</div>

	<br>
	<menu-item ng-if="myInfoCtrl.user.favoriteDish !== undefined" menu-item="myInfoCtrl.user.favoriteDish"></menu-item>

	<div id="info" ng-show="myInfoCtrl.user.firstname === undefined">
	Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
	</div>
</div>